.boardHeader{
  display: flex;
  justify-content: space-between;
  
}
.columnsContainer{
  margin-left: 5%;
  margin-right: 5%;
}
.addColumnContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 10px;
}
.columnItem{
  /* border: 1px solid black; */
  padding: 1%;
  border-radius: 5px;
  background-color: #1d3557;
  box-shadow: 6px 8px 8px #7f90aa;
  align-self: flex-start;
 
}
.columnHeader{
  display: flex;
  justify-content: space-between;
}
.columnTitle{
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
 }

.deleteColumn{
  cursor: pointer;
  color:rgb(219, 102, 102);
}

.deleteBoardBtn{
  background-color: #457B9D;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border:1px solid #457B9D;
}
.deleteBoardBtn:hover{
  cursor: pointer;
  background-color: #7fa7c0;

}
/* .cardContainer{
  border: 1px solid black;
  border-radius: 5px;
} */
@media only screen and (max-width: 500px) {
   .addColumnContainer{
     grid-template-columns: 1fr 1fr;
   }

   .deleteBoardBtn{
     width: 20%;
     height: 10%;
     padding: 0px;
     margin-right: 20px;
   }
}



